<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="UTF-8">
		<title>RainyDay</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/rainyday/css/findPw.css" />
</head>
<body>
<section id="signUp" class="main special">
				<div class="container">
					<div class="content">
						<header class="major">
							<h2>비밀번호 재설정</h2>
						</header>
						
						<input type="password" id="password" placeholder="새 비밀번호"/>
						<input type="password" id="newPassword" placeholder="새 비밀번호 확인"/>
						

						
						<input type="button" value="비밀번호 변경" id="changePw" onClick="window.location.href='/rainyday/introPage'"/>
						<div class="divLoginFoot">
							<input type="button" id="btnBack" value="돌아가기" onClick="window.location.href='/rainyday/introPage'"/>
						</div>
					</div>
					
				</div>
				<section id="footer">
					<footer>
					<ul class="copyright">
						<li>&copy; 202045067 이유진</a></li><li>Github : <a href="https://github.com/y-00jin">https://github.com/y-00jin</a></li>
					</ul>
				</footer>
				</section>
</body>
</html>