<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="UTF-8">
		<title>RainyDay</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/rainyday/css/findId.css" />
</head>
<body>
<section id="signUp" class="main special">
				<div class="container">
					<div class="content">
						<header class="major">
							<h2>아이디 확인</h2>
						</header>
						
						<div class="findId">
							<h1>202045067</h1>
						</div>
						
						
						<div class="divFindIdDetail">
							<input type="button" id="btnLogin" value="로그인 하기" onClick="window.location.href='/rainyday/introPage'"/>
							<input type="button" id="btnFindPw" value="비밀번호 찾기" onClick="window.location.href='/rainyday/findPw'"/>
						</div>
						
					</div>
					
				</div>
				<section id="footer">
					<footer>
					<ul class="copyright">
						<li>&copy; 202045067 이유진</a></li><li>Github : <a href="https://github.com/y-00jin">https://github.com/y-00jin</a></li>
					</ul>
				</footer>
				</section>
</body>
</html>