<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>RainyDay</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/rainyday/css/members/findPw.css" />
	<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#selectDepar').css('color', '#a8b0b3');
			$('#selectQuestion').css('color', '#a8b0b3');
			$('#selectDepar').val("").attr("selected", "selected");
			$('#selectQuestion').val("").attr("selected", "selected");

			$('#selectDepar').change(function () {
				var current = $('#selectDepar').val();
				if (current != 'null') {
					$('#selectDepar').css('font-family', 'sans-serif');
					$('#selectDepar').css('color', '#6f7577');


				}
			});

			$('#selectQuestion').change(function () {
				var current = $('#selectQuestion').val();
				if (current != 'null') {
					$('#selectQuestion').css('font-family', 'sans-serif');
					$('#selectQuestion').css('color', '#6f7577');
				}
			});
		});
	</script>
</head>

<body>
	<section id="signUp" class="main special">
		<div class="container">
			<div class="content">
				<header class="major">
					<h2>비밀번호 찾기</h2>
				</header>

				<form action="/rainyday/members/findPw" method="post" th:object="${membersFormDto}">
				<input type="text" th:field="*{memberDepId}" id="userId" placeholder="학번" />
				<input type="text" th:field="*{name}" id="userName" placeholder="이름" />

				<select name="userDepart" th:field="*{depart}" id="selectDepar">
					<option value="" selected disabled>학과</option>
					<option value="컴퓨터시스템과" id="computerSystem">컴퓨터시스템과</option>
					<option value="컴퓨터정보과" id="computerInforma">컴퓨터정보과</option>
					<option value="화학생명공학과" id="chemicalBio">화학생명공학과</option>
					<option value="재료공학과" id="material">재료공학과</option>
					<option value="기계공학과" id="mechanical">기계공학과</option>
					<option value="기계설계공학과" id="mechanicalDesign">기계설계공학과</option>
					<option value="메카트로닉스공학과" id="mechatronics">메카트로닉스공학과</option>
					<option value="전기공학과" id="Electrical">전기공학과</option>
					<option value="공간정보빅데이터과" id="bigData">공간정보빅데이터과</option>
				</select>

				<select name="userQuestion" th:field="*{question}" id="selectQuestion">
					<option value="" selected disabled>본인 확인 질문</option>
					<option value="가장 친한 친구 이름은?" id="computerSystem">가장 친한 친구 이름은?</option>
					<option value="첫 해외여행 장소는?" id="travelPlace">첫 해외여행 장소는?</option>
					<option value="첫사랑 이름은?" id="firstLove">첫사랑 이름은?</option>
					<option value="가장 기억에 남는 책은?" id="book">가장 기억에 남는 책은?</option>
					<option value="가장 기억에 남는 영화는?" id="movie">가장 기억에 남는 영화는?</option>
				</select>


				<input type="text" th:field="*{answer}" id="userAnswer" placeholder="본인 확인 답변" />
				<input type="text" id="contentCheck" th:value="${contentCheck}" disabled />
				<input type="submit" value="비밀번호 찾기" id="btnFindPw"/>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			</form>

			<div class="divLoginFoot">
				<input type="button" id="btnBack" value="돌아가기" onClick="window.location.href='/rainyday/members/introPage'" />
			</div>
		</div>

		</div>
		<section id="footer">
			<footer>
				<ul class="copyright">
					<li>&copy; 202045067 이유진</a></li>
					<li>Github : <a href="https://github.com/y-00jin">https://github.com/y-00jin</a></li>
				</ul>
			</footer>
		</section>
</body>

</html>