<!DOCTYPE HTML>
<html>
	<head>
		<title>RainyDay</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/rainyday/css/introPage.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<header class="major">
					<h1>비 오는 날</h1>
					<p>umbrella rental system</p>
				</header>
				<div class="container">
					<ul class="actions special">
						<li><a href="#login" class="button primary scrolly">Begin</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
		
			<section id="login" class="main special">
				<div class="container">
					<span class="image fit primary"></span>
					<div class="content">
						<header class="major">
							<h2>LOGIN</h2>
						</header>
						<input type="text" id="member_id" placeholder="학번"/>
						<input type="password" id="password" placeholder="비밀번호"/>
						<input type="button" value="LOGIN"/>
						<!-- <label>학번</label> -->
						<div class="loginFoot">

						</div>
					</div>
					
				</div>
				<section id="footer">
					<footer>
					<ul class="copyright">
						<li>&copy; 202045067 이유진</a></li><li>Github : <a href="https://github.com/y-00jin">https://github.com/y-00jin</a></li>
					</ul>
				</footer>
				</section>
				
			</section>

		<!-- Scripts -->
			<script src="/rainyday/js/introPage/jquery.min.js"></script>
			<script src="/rainyday/js/introPage/jquery.scrollex.min.js"></script>
			<script src="/rainyday/js/introPage/jquery.scrolly.min.js"></script>
			<script src="/rainyday/js/introPage/browser.min.js"></script>
			<script src="/rainyday/js/introPage/breakpoints.min.js"></script>
			<script src="/rainyday/js/introPage/util.js"></script>
			<script src="/rainyday/js/introPage/main.js"></script>

	</body>
</html>