<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: red;
            text-align: left;
            padding-left:2.5em;
        }
    </style>
</th:block>

<head>
<title>RainyDay</title>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/rainyday/css/board/board.css" />


<noscript>
	<link rel="stylesheet" href="rainyday/css/main/noscript.css" />
</noscript>


</head>
<body class="is-preload">

	<div id="wrapper">

		<nav id="nav">
			<a href='/rainyday/main/admin/adminUmbrella' class="icon solid fa-umbrella"><span>Umbrella</span></a> 
			<a href='/rainyday/main/admin/adminStudent' class="icon solid fa-user"><span>Student</span></a>
			<a href="/rainyday/main/admin/adminRental" class="icon solid fa-hand-holding-heart"><span>Rental</span></a>
			<a href="/rainyday/main/admin/adminNotice" class="icon solid fa-bullhorn"><span>Notice</span></a>
			<a href="/rainyday/members/introPage" class="icon solid fa-circle-xmark"><span>Exit</span></a>


		</nav>

		<div id="main">
		
			
			<article id="student" class="panel intro">
				<header>
					<h3>| 공지 작성</h3>
					<hr/>
					<form action="/rainyday/main/board/write" method="post" th:object="${boardFormDto}">
					
						<br/>
						

						<div class="boardForm">
							<span class="input-text" >제목</span>
							<input type="text" th:field="*{title}" />
						</div>
						<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="fieldError">Incorrect data</p>
						<br/>
						
						<div class="boardForm">
							<span class="input-text"  id="input-text-content">내용</span>
							<textarea class="taContent" th:field="*{content}" ></textarea>
							
						</div>
						<p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="fieldError">Incorrect data</p>
						<br/>
						
						<div class="boardForm">
							<input type="button" id="btnCancel" value="취소" onClick="window.location.href='/rainyday/main/admin/adminNotice'" />
							<input type="submit" value="저장" />
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
						</div>
						
					
					</form>
					
					
				</header>
			</article>

		</div>
	</div>





	<!-- Scripts -->
	<script src="/rainyday/js/main/jquery.min.js"></script>
	<script src="/rainyday/js/main/browser.min.js"></script>
	<script src="/rainyday/js/main/breakpoints.min.js"></script>
	<script src="/rainyday/js/main/util.js"></script>
	<script src="/rainyday/js/main/main.js"></script>
</body>
</html>