<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="UTF-8">
		<title>RainyDay</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/rainyday/css/signUp.css" />
		
		<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

   

</th:block>

</head>
<body>
<section id="signUp" class="main special">
				<div class="container">
					<div class="content">
						<header class="major">
							<h2>Sign Up</h2>
						</header>
						
						<div class="UserOrAdmin">
							<input type="button" value="사용자" onClick="window.location.href='/rainyday/signUpUser'"/>
							<input type="button" id="btnAdmin" value="관리자"/>
						</div>
						
						
						<div class="divInputId">
						<input type="text" th:field="*{memberId}" id="admin_id" placeholder="아이디"/>
						<input type="button" id="idCheck" value="중복 확인"/>
						</div>
						
						<input type="password" id="admin_password" placeholder="비밀번호"/>
						<input type="password" id="admin_passwordCheck" placeholder="비밀번호 재확인"/>
						<input type="text" id="admin_name" placeholder="이름"/>
						
						<select name="admin_depart" class="selectDepar" id="selectDepart">
							<option value="" selected disabled>학과</option>
							<option value="computerSystem" id="computerSystem">컴퓨터시스템과</option>
							<option value="computerInforma" id="computerInforma">컴퓨터정보과</option>
							<option value="chemicalBio" id="chemicalBio">화학생명공학과</option>
							<option value="material" id="material">재료공학과</option>
							<option value="mechanical" id="mechanical">기계공학과</option>
							<option value="mechanicalDesign" id="mechanicalDesign">기계설계공학과</option>
							<option value="mechatronics" id="mechatronics">메카트로닉스공학과</option>
							<option value="Electrical" id="Electrical">전기공학과</option>
							<option value="bigData" id="bigData">공간정보빅데이터과</option>
						</select>
						
						<select name="adminQuestion" class="selectQuestion" id="selectQuestion">
							<option value="" selected disabled>본인 확인 질문</option>
							<option value="friend" id="computerSystem">가장 친한 친구 이름은?</option>
							<option value="travelPlace" id="travelPlace">첫 해외여행 장소는?</option>
							<option value="firstLove" id="firstLove">첫사랑 이름은?</option>
							<option value="book" id="book">가장 기억에 남는 책은?</option>
							<option value="movie" id="movie">가장 기억에 남는 영화는?</option>
						</select>
						
						
						<input type="text" id="adminAnswer" placeholder="본인 확인 답변"/>
						
						<div class="divCheckAdmin">
						<input type="text" id="adminKey" placeholder="관리자용 키"/>
						<input type="button" id="btnAdminCheck" value="관리자 확인"/>
						</div>
						
						<input type="submit" value="Sign Up"/>
						
						<div class="divLoginFoot">
							<input type="button" id="btnBack" value="돌아가기" onClick="window.location.href='/rainyday/introPage'"/>
						</div>
					</div>
					
				</div>
				<section id="footer">
					<footer>
					<ul class="copyright">
						<li>&copy; 202045067 이유진</a></li><li>Github : <a href="https://github.com/y-00jin">https://github.com/y-00jin</a></li>
					</ul>
				</footer>
				</section>
</body>
</html>